.dark,
.dark-theme {
  --blue-1: #01050e;
  --blue-2: #0c1723;
  --blue-3: #082745;
  --blue-4: #003162;
  --blue-5: #003e74;
  --blue-6: #104d86;
  --blue-7: #1d5e9d;
  --blue-8: #2371bd;
  --blue-9: #0090ff;
  --blue-10: #0083f1;
  --blue-11: #70b8ff;
  --blue-12: #c8e3ff;

  --blue-a1: #0006eb0a;
  --blue-a2: #3f9afc1f;
  --blue-a3: #1189fd42;
  --blue-a4: #007cff5f;
  --blue-a5: #0085fd72;
  --blue-a6: #1b91ff84;
  --blue-a7: #2c97fe9c;
  --blue-a8: #2e98ffbc;
  --blue-a9: #0090ff;
  --blue-a10: #008bfff1;
  --blue-a11: #70b8ff;
  --blue-a12: #c8e3ff;

  --blue-contrast: #fff;
  --blue-surface: #13294180;
  --blue-indicator: #0090ff;
  --blue-track: #0090ff;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      --blue-1: oklch(11.5% 0.0258 251.8);
      --blue-2: oklch(20% 0.0295 251.8);
      --blue-3: oklch(26.8% 0.0669 251.8);
      --blue-4: oklch(31.4% 0.1002 251.8);
      --blue-5: oklch(36.3% 0.1084 251.8);
      --blue-6: oklch(41.5% 0.1125 251.8);
      --blue-7: oklch(47.4% 0.1211 251.8);
      --blue-8: oklch(54.1% 0.1396 251.8);
      --blue-9: oklch(64.9% 0.193 251.8);
      --blue-10: oklch(60.9% 0.193 251.8);
      --blue-11: oklch(76.8% 0.1347 251.8);
      --blue-12: oklch(90.7% 0.0511 251.8);

      --blue-a1: color(display-p3 0 0.0235 1 / 0.032);
      --blue-a2: color(display-p3 0.3255 0.6314 1 / 0.116);
      --blue-a3: color(display-p3 0.2118 0.5451 1 / 0.248);
      --blue-a4: color(display-p3 0.1529 0.4902 1 / 0.36);
      --blue-a5: color(display-p3 0.1843 0.5333 1 / 0.428);
      --blue-a6: color(display-p3 0.2588 0.5725 0.9961 / 0.5);
      --blue-a7: color(display-p3 0.3098 0.6078 1 / 0.588);
      --blue-a8: color(display-p3 0.3176 0.6039 1 / 0.712);
      --blue-a9: color(display-p3 0.2549 0.5765 1 / 0.968);
      --blue-a10: color(display-p3 0.2471 0.5529 1 / 0.912);
      --blue-a11: color(display-p3 0.5176 0.7294 1 / 0.976);
      --blue-a12: color(display-p3 0.8118 0.898 1 / 0.988);

      --blue-contrast: #fff;
      --blue-surface: color(display-p3 0.0863 0.1569 0.2431 / 0.5);
      --blue-indicator: oklch(64.9% 0.193 251.8);
      --blue-track: oklch(64.9% 0.193 251.8);
    }
  }
}
.dark,
.dark-theme {
  --gray-1: #050506;
  --gray-2: #161719;
  --gray-3: #212124;
  --gray-4: #28292d;
  --gray-5: #303135;
  --gray-6: #393a40;
  --gray-7: #46474f;
  --gray-8: #5e606a;
  --gray-9: #6c6e79;
  --gray-10: #797b86;
  --gray-11: #b2b3bd;
  --gray-12: #eeeef0;

  --gray-a1: #05058502;
  --gray-a2: #d4e0f815;
  --gray-a3: #e5e5fd20;
  --gray-a4: #dfe5fe29;
  --gray-a5: #e5eaff31;
  --gray-a6: #dfe3fc3d;
  --gray-a7: #dfe2fd4c;
  --gray-a8: #e0e5fd68;
  --gray-a9: #e2e6fd77;
  --gray-a10: #e6e9ff84;
  --gray-a11: #f0f2ffbc;
  --gray-a12: #fdfdfff0;

  --gray-contrast: #ffffff;
  --gray-surface: rgba(0, 0, 0, 0.05);
  --gray-indicator: #6c6e79;
  --gray-track: #6c6e79;
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    .dark,
    .dark-theme {
      --gray-1: oklch(11.5% 0.0042 277.7);
      --gray-2: oklch(20.4% 0.004 277.7);
      --gray-3: oklch(25% 0.0055 277.7);
      --gray-4: oklch(28.2% 0.0075 277.7);
      --gray-5: oklch(31.2% 0.0089 277.7);
      --gray-6: oklch(34.9% 0.01 277.7);
      --gray-7: oklch(40.1% 0.0121 277.7);
      --gray-8: oklch(49.2% 0.0157 277.7);
      --gray-9: oklch(54% 0.0167 277.7);
      --gray-10: oklch(58.6% 0.0165 277.7);
      --gray-11: oklch(77% 0.0138 277.7);
      --gray-12: oklch(94.9% 0.0026 277.7);

      --gray-a1: color(display-p3 0.0196 0.0196 1 / 0.004);
      --gray-a2: color(display-p3 0.8549 0.902 1 / 0.08);
      --gray-a3: color(display-p3 0.9059 0.9059 1 / 0.124);
      --gray-a4: color(display-p3 0.8784 0.902 1 / 0.16);
      --gray-a5: color(display-p3 0.898 0.9216 1 / 0.192);
      --gray-a6: color(display-p3 0.902 0.9176 1 / 0.232);
      --gray-a7: color(display-p3 0.8902 0.9059 1 / 0.292);
      --gray-a8: color(display-p3 0.8941 0.9137 1 / 0.4);
      --gray-a9: color(display-p3 0.898 0.9137 1 / 0.46);
      --gray-a10: color(display-p3 0.9098 0.9255 1 / 0.512);
      --gray-a11: color(display-p3 0.949 0.9529 1 / 0.732);
      --gray-a12: color(display-p3 0.9922 0.9922 1 / 0.94);

      --gray-contrast: #ffffff;
      --gray-surface: color(display-p3 0 0 0 / 5%);
      --gray-indicator: oklch(54% 0.0167 277.7);
      --gray-track: oklch(54% 0.0167 277.7);
    }
  }
}

.dark,
.dark-theme,
:is(.dark, .dark-theme) :where(.radix-themes:not(.light, .light-theme)) {
  --color-background: #050505;
}

body {
  margin: 0;
  min-width: 320px;
  color: var(--gray-12);
  -webkit-text-size-adjust: 100%;
}


.action-button {
    min-width: 200px;
}