apiVersion: apps/v1
kind: Deployment
metadata:
  name: budget-ai-app
  namespace: dev
  labels:
    app: budget-ai-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: budget-ai-app
  template:
    metadata:
      labels:
        app: budget-ai-app
      annotations:
          prometheus.io/scrape: "true"
          prometheus.io/path: "/actuator/prometheus"
          prometheus.io/port: "8080"
    spec:
      containers:
        - name: budget-ai-app
          image: filipvdb321/budget-ai:${IMAGE_TAG}
          ports:
            - containerPort: 8080
              name: http
          envFrom:
            - secretRef:
                name: budget-ai-dev-secrets
            - configMapRef:
                name: budget-ai-dev-config
      imagePullSecrets:
        - name: regcred-dev
