apiVersion: apps/v1
kind: Deployment
metadata:
  name: budget-api-app
  namespace: dev
  labels:
    app: budget-api-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: budget-api-app
  template:
    metadata:
      labels:
        app: budget-api-app
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: "/metrics"
        prometheus.io/port: "4000"
    spec:
      containers:
        - name: budget-api-app
          image: filipvdb321/budget-api:${IMAGE_TAG}
          ports:
            - containerPort: 4000
              name: http
          envFrom:
            - secretRef:
                name: budget-api-dev-secrets
            - configMapRef:
                name: budget-api-dev-config
      imagePullSecrets:
        - name: regcred-dev
