.imageHeader {
  position: relative;
  padding: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 400px;

  .overlay {
    background-color: rgba(0, 0, 0, 0.7); /* Verhoog de opacity */
  }

  .textShadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .imageBox {
    z-index: 1;
  }
}
